{% extends './index.html.twig' %}

{% block content %}

    <section class="section-graph">

        <div class="graph-nodes">
        </div>

        <div class="commands-parameters">
            <div class="container">
                <button class="btn btn-pfa path-finding-launch" data-aos="fade-up" data-aos-duration="400"
                        type="submit" onclick="launchPathFinding()">
                    Launch Search
                </button>

                <button class="btn btn-pfa-inversed btn-path-reset" data-aos="fade-up" data-aos-duration="400"
                        type="submit" onclick="resetGraph()">
                    Reset Graph
                </button>
            </div>
        </div>

    </section>

    <section class="section-footer" data-aos="fade-up">
        <div class="pfa-container">
            <div class="row">
                <div class="col" style="text-align: center;">
                    <span>Path Finding Algorithms<br>THUAS Project - AI (Platinium Achievement)</span>
                </div>
                <div class="col">
                    <span>Developed by <strong>Anas Habib ABRAM</strong></span>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="pfa-modal-info" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background: linear-gradient(to top left, #2f2d41, #0d0d12);color: white;">
                <div class="modal-header" style="display: flex;align-items: center;justify-content: center;">
                    <h3 class="modal-title">Information</h3>
                    <button style="position: absolute;top: 1em;right: 1em;padding: 0;color: white;" type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <h5 style="font-weight: bold;">
                        Here is the meaning of each cells color:
                    </h5>

                    <br>

                    <div class="container">
                        <div class="modal-color-code">
                            <div class="node node-start"></div>
                            <label>Start Point (Unique)</label>
                            <p style="font-size: .9em;margin: 0 3em;">
                                The Path Finding algorithm will start from this unique point
                            </p>
                        </div>
                        <div class="modal-color-code">
                            <div class="node node-end"></div>
                            <label>End Point</label>
                            <p style="font-size: .9em;margin: 0 3em;">
                                The Path Finding algorithm will try to reach one of these points
                            </p>
                        </div>
                        <div class="modal-color-code">
                            <div class="node node-uber"></div>
                            <label>Uber Point</label>
                            <p style="font-size: .9em;margin: 0 3em;">
                                The Path Finding algorithm will try to reach one of these points before reaching one
                                of the end point, which is similar to Uber Pool system
                            </p>
                        </div>
                        <div class="modal-color-code">
                            <div class="node node-wall"></div>
                            <label>Walls</label>
                            <p style="font-size: .9em;margin: 0 3em;">
                                The Path Finding algorithm will avoid these obstacles to find his path
                            </p>
                        </div>
                        <div class="modal-color-code">
                            <div class="node node-visited-animated"></div>
                            <label>Cells visited by the path finding algorithm</label>
                            <p style="font-size: .9em;margin: 0 3em;">
                                Shows which cells the path finding algorithm visited
                            </p>
                        </div>
                        <div class="modal-color-code">
                            <div class="node node-path-animated"></div>
                            <label>Final path found</label>
                            <p style="font-size: .9em;margin: 0 3em;">
                                Shows the final path found by the path finding algorithm
                            </p>
                        </div>
                    </div>
                    <hr style="border-color: grey;width: 80%;">
                    <div class="container">
                        <p>
                            <strong>Nota Bene:</strong> You can found the form of the path is weird and it is normal.
                            The algorithm can not go in diagonal so the shape of the final path or even,
                            the search path is kind of strange, it is particularly the case with A*.
                        </p>
                    </div>
                </div>
                <div class="modal-footer" style="display: flex;align-items: center;justify-content: center;">
                    <button type="button" class="btn btn-pfa-modal" data-dismiss="modal" style="font-weight: bold;">
                        It's OK <i style="margin-left: .5em;" class="fa fa-thumbs-up"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        .graph-nodes {
            width: 1200px;
            height: 620px;
            margin: 1.5em auto;
        }

        .node {
            width: 33px;
            height: 33px;
        }

        .node-blank {
            background-color: #ffffff;
        }

        .node-start {
            animation: animated-node-start 200ms linear forwards !important;
            -webkit-animation: animated-node-start 200ms linear forwards !important;
        }

        .node-end {
            animation: animated-node-end 200ms linear forwards !important;
            -webkit-animation: animated-node-end 200ms linear forwards !important;
        }

        .node-path {
            background-color: #feff8e !important;
        }

        .node-path-animated {
            /*background-color: yellow !important;*/
            animation: animated-node-path .7s linear forwards;
            -webkit-animation: animated-node-path .7s linear forwards;
        }

        .node-wall {
            animation: animated-node-wall 200ms linear forwards;
            -webkit-animation: animated-node-wall 200ms linear forwards;
        }

        .node-uber {
            animation: animated-node-uber 200ms linear forwards;
            -webkit-animation: animated-node-uber 200ms linear forwards;
        }

        .node-visited {
            background-color: #eaa289;
        }

        .node-visited-animated {
            animation: animated-node-visited .3s linear forwards;
            -webkit-animation: animated-node-visited .3s linear forwards;
        }

        .node-maze-animated {
            animation: animated-node-maze .7s linear forwards;
            -webkit-animation: animated-node-maze .7s linear forwards;
        }

        .node-maze-finished-animated {
            animation: animated-node-maze-finished .7s linear forwards;
            -webkit-animation: animated-node-maze-finished .7s linear forwards;
        }

        @keyframes animated-node-wall {
            0% {
                border-radius: 50%;
                background-color: #304451;
                transform: scale(0);
                -webkit-transform: scale(0);
            }

            40% {
                background-color: #1f3a4a;
            }

            60% {
                background-color: #2f2d41;
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
            }

            100% {
                background-color: #222130;
                border-radius: 0;
                transform: scale(1);
                -webkit-transform: scale(1);
            }
        }

        @keyframes animated-node-start {
            0% {
                border-radius: 50%;
                transform: scale(0);
                -webkit-transform: scale(0);
            }

            30% {
                background-color: lightgreen;
            }

            60% {
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
            }

            100% {
                background-color: green;
                border-radius: 0;
                transform: scale(1);
                -webkit-transform: scale(1);
            }
        }

        @keyframes animated-node-end {
            0% {
                border-radius: 50%;
                background-color: #ffa9a9;
                transform: scale(0);
                -webkit-transform: scale(0);
            }

            30% {
                background-color: #f97979;
            }

            60% {
                background-color: #ff5a5a;
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
            }

            100% {
                background-color: #ff4949;
                border-radius: 0;
                transform: scale(1);
                -webkit-transform: scale(1);
            }
        }

        @keyframes animated-node-uber {
            0% {
                border-radius: 50%;
                transform: scale(0);
                -webkit-transform: scale(0);
            }

            5% {
                background-color: #eaa289;
            }

            40% {
                background-color: #c78989;
            }

            60% {
                background-color: #9a6f8b;
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
            }

            100% {
                background-color: #976393;
                border-radius: 0;
                transform: scale(1);
                -webkit-transform: scale(1);
            }
        }

        @keyframes animated-node-visited {
            0% {
                background-color: #494e67;
                border-radius: 50%;
                transform: scale(0);
                -webkit-transform: scale(0);
            }

            20% {
                background-color: #6e5d85;
            }

            40% {
                background-color: #9a6f8b;
            }

            60% {
                background-color: #c78989;
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
            }

            100% {
                background-color: #eaa289;
                border-radius: 0;
                transform: scale(1);
                -webkit-transform: scale(1);
            }
        }

        @keyframes animated-node-path {
            0% {
                background-color: #eaa289;
                border-radius: 50%;
                transform: scale(0);
                -webkit-transform: scale(0);
            }

            60% {
                background-color: #ff9b83;
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
            }

            100% {
                background-color: #feff8e;
                border-radius: 0;
                transform: scale(1);
                -webkit-transform: scale(1);
            }
        }

        @keyframes animated-node-maze {
            0% {
                border-radius: 50%;
                transform: scale(0);
                -webkit-transform: scale(0);
            }

            5% {
                background-color: lightblue;
            }

            40% {
                background-color: #6b90a7;
            }

            60% {
                background-color: #627992;
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
            }

            100% {
                background-color: #5a6478;
                border-radius: 0;
                transform: scale(1);
                -webkit-transform: scale(1);
            }
        }

        @keyframes animated-node-maze-finished {
            0% {
                border-radius: 0;
                transform: scale(1);
                -webkit-transform: scale(1);
                background-color: #5a6478 !important;
            }

            15% {
                background-color: #627992;
            }

            40% {
                background-color: #6b90a7;
                border-radius: 50%;
                transform: scale(0);
                -webkit-transform: scale(0);
            }

            60% {
                background-color: lightblue;
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
            }

            100% {
                background-color: white;
                border-radius: 0;
                transform: scale(1);
                -webkit-transform: scale(1);
            }
        }

        .section-graph {
            position: relative;
            width: 100%;
            height: 100%;
            background-size: cover;
        }

        .commands-parameters {
            margin-top: 1.5em;
            text-align: center;
        }

        .commands-single-line {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: .5em;
        }

        .pfa-choose-algo {
            border-radius: 50%;
            font-size: 8em;
            background: linear-gradient(to top right, #1e9adf, #a6c);
        }

        .pfa-choose-algo:hover {
            background: linear-gradient(to bottom right, #1a1a1a, #525252);
        }

        .path-finding-launch {
            min-width: 12.3em;
            height: 5em;
            font-size: 1em;
            font-weight: 700;
        }

        .btn-path-reset {
            min-width: 12.3em;
            height: 5em;
            font-size: 1em;
            font-weight: 700;
        }

        .section-footer {
            width: 100%;
            height: 15%;
            background-color: #6f6f6f;
        }

        .modal-color-code {
            position: relative;
            margin: 2em 0;
        }

        .modal-color-code > label {
            font-weight: 600;
            font-size: 1.1em;
        }

        .modal-color-code > .node {
            display: inline-block;
            position: absolute;
            left: 0;
            top: -.4em;
        }

        .btn-pfa {
            background-image: linear-gradient(to top right, #2f2d41, #0d0d12);
        }

        .btn-pfa-inversed {
            background-image: linear-gradient(to top left, #2f2d41, #0d0d12);
        }

        .pfa-container {
            padding: 1em;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .pfa-container > .row {
            width: 80%;
            height: 100%;
        }

        .pfa-container > .row > .col {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        #pfa-info-btn {
            color: #25234e !important;
        }

        #pfa-info-btn:hover {
            color: #464e8b !important;
        }

        .pfa-info-icon {
            border-radius: 50%;
            font-size: 2.4em;
            background: linear-gradient(to top right, #1e9adf, #a6c);
        }

        .pfa-info-icon:hover {
            background: linear-gradient(to bottom right, #1a1a1a, #525252);
        }

        .btn-pfa-modal {
            background-image: linear-gradient(to top right, #1e9adf, #a6c);
        }

        .disabled {
            opacity: .5;
            pointer-events: none;
            cursor: default;
        }

    </style>
{% endblock %}

{% block javascripts %}
    <script src="/js/graph.js"></script>
    <script src="/js/astar.js"></script>
    <script src="/js/djikstra.js"></script>
    <script src="/js/path_algo.js"></script>

    <script>
        $(document).ready(function () {
            AOS.init({
                once: true
            });
        });
    </script>
{% endblock %}
